{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>








    <link rel="stylesheet" href="{% static 'Sfondo.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'jquery.js' %}" defer=""></script>
    <link rel="stylesheet" href="{% static 'Info.css' %}" media="screen">



    <link rel="stylesheet" type="text/css" href="{% static 'RiskGame/main.css' %}">
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'Info.css' %}" media="screen">

    <title>RiskGame!</title>
    <style>
        section {
            padding: 10vh 0;
        }

        body {
            background-color: #f8f9fa;
        }
    </style>
</head>


<body>
    <!--<div class="bg-image" style="background-image: url('{% static 'SfondoMappa.png'%}')">-->

    <header class=" site-header">

        <nav class="navbar navbar-expand-lg bg-steel fixed-top">
            <div class="container-fluid">
                <a href="{% url 'home' %}" class=" navbar-brand">
                    <img src=" {% static 'Home/MapBackground.png' %}" width=" 30" height="30" alt="">
                    RiskGame
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'RiskGame:menu' %}">Gioca!</a>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'RiskGame:menuospite' %}">Gioca!</a>
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav flex-end">

                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown justify-content-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'RiskGame:credenziali' %}">
                                        Credenziali</a></li>
                                <li><a class="dropdown-item" href="{% url 'RiskGame:editor' %}">Mappe</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'RiskGame:statistiche' %}">Statistiche</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item nav-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>

                        </li>


                        {% elif request.path == '/' %}

                        <a class="nav-item nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                            aria-controls="offcanvasExample">Login</a>

                        <a class="nav-item nav-link" href="{% url 'RiskGame:registrazione' %}">Registrazione</a>
                        <a class="nav-item nav-link" href="{% url 'RiskGame:menu' %}">Ospite</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>






</body>

</html>