{% extends "base.html" %}
{% block content %}

<style>
    section {
        padding: 10vh 0;
    }
</style>

<section id="intro">
    <form action="{% url 'RiskGame:creaPartita' %}" method="POST">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="selection">
            <label for="giocatori">Seleziona il numero di giocatori:</label>
            <select id="giocatori" name="giocatori">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <br>
        <div class="selection">
            <label>Seleziona la mappa:</label>
            <select id="mappa" name="nome-mappa">
                <option value="">--------</option>
                {% for nome in nomi %}
                <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="selection">
            <label for="difficolta">Seleziona la difficoltà:</label>
            <select id="difficolta" name="difficolta">
                <option value="Semplice">Semplice</option>
                <option value="Media">Media</option>
                <option value="Difficile">Difficile</option>
            </select>
        </div>
        <br>
        {% if user.is_authenticated %}
        <div class="messages">
            <input type="checkbox" id="collassaGiocatori" name="collassaGiocatori" value="collassaGiocatori">
            <label for="collassaGiocatori">Vuoi adattare la mappa al numero di giocatori? <br> Ciò portera il numero di
                continenti a coincidere con il numero di giocatori</label>
        </div>
        {% endif %}

        <div class="u-align-center u-form-group u-form-submit u-block-16f1-13">
            <br>
            <button type="submit" class="btn btn-outline-info">Conferma</button>
        </div>
    </form>
</section>





{% endblock content %}