{% extends "base.html" %}
{% block content %}

<style>
    section {
        padding: 10vh 0;
    }
</style>

<script>
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
</script>

<section id="intro">
    <form action="{% url 'RiskGame:creaPartita' %}" method="POST">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="selection">
            <label for="giocatori">Seleziona il numero di giocatori:</label>
            <select id="giocatori" name="giocatori">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        <br>
        <div class="selection">
            <label>Seleziona la mappa:</label>
            <select id="mappa" name="nome-mappa">
                <option value="">--------</option>
                {% for nome in nomi %}
                <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="selection">
            <label for="difficolta">Seleziona la difficoltà:</label>
            <select id="difficolta" name="difficolta">
                <option value="Semplice">Semplice</option>
                <option value="Media">Media</option>
                <option value="Difficile">Difficile</option>
            </select>
    </div>
        <br>
        {% if user.is_authenticated %}
        <div class = "messages">
    <input type="checkbox" id = "collassaGiocatori" name="collassaGiocatori" value="collassaGiocatori">
    <label for="collassaGiocatori">Vuoi adattare la mappa al numero di giocatori? <br> Ciò portera il numero di continenti a coincidere con il numero di giocatori</label>
  </div>
      {% endif %}

    <div class="u-align-center u-form-group u-form-submit u-block-16f1-13">
        <br>
        <button type="submit" class="btn btn-outline-info">Conferma</button>
    </div>
         <div class="popup" onclick="myFunction()">INFORMAZIONI
  <span class="popuptext" id="myPopup">In questa schermata puoi impostare i dati della partita. La mappa che hai creato si adatta automaticamente alla difficoltà:<br>
                                        -se selezioni la difficolta 'Semplice' ci saranno soltanto i Continenti<br>
                                        -se selezioni la difficolta 'Media' i territori verrano dimezzati<br>
                                        -se selezioni la difficoltà 'Difficile' la mappa rimarrà nello stesso stato in cui lo hai creata
                                        {% if not user.is_authenticated %}
                                            <br>
                                        Se fossi registrato potresti anche ridurre il numero di confini al numero di giocatori
                                        {% endif %}

</span>
</div>
    </form>

</body>
<style data-mode="XL" data-visited="true">@media (min-width: 1200px) {
    .messages{
       text-align: center;
    }
  div.selection {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    text-align: center;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}</style>
</html>

{% endblock content %}