{% extends "base.html" %}
{% block content %}

<style>
  section {
    padding: 5vh 0;
  }

  .formp {
    transform: scale(0.9);
  }
</style>

<section id="intro">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-5 text-md-start">

        {% load crispy_forms_tags %}
        <div class="selection">
          <form method="post" class="formp">
            {% csrf_token %}
            {{ userprofile_form|crispy }}
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Modifica le tue credenziali</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>





{% endblock content %}