{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!-- main image & intro text -->

<style>
  section {
    padding: 15vh 0;
  }
</style>


<section id="intro">
  <div class="container-lg">
    <div class="row g-4 justify-content-center align-items-center">
      <div class="col-md-5 text-center text-md-start">
        <h1>
          <div class="display-2">RiskGame!</div>
        </h1>
        <p class="lead my-4 text-muted">Benvenuto, Accedi o Registrati se non l'hai ancora fatto!

        </p>
        <a class="btn btn-secondary btn-lg" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          Login
        </a>


        <a href="{% url 'RiskGame:registrazione' %}" class=" btn btn-secondary btn-lg">Registrati</a>
      </div>
      <div class="col-md-5 text-center d-none d-md-block">
        <img src="{% static 'Home/RiskLogo.png' %}" class="img-fluid" alt="Logo">
      </div>
    </div>
  </div>
</section>






<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}