{% extends "base.html" %}
{% block content %}
<style>
    section {
        padding: 10vh 0;
    }
</style>

<section id="intro">
    <div class="container-lg">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
                <p class="lead my-4 text-muted">Hai Eseguito il Logout!
                    Torna alla Home!
                <div class="border-top pt-4">
                    <small class="text-muted">
                        <a class="btn-secondary btn-lg" href="{% url 'home' %}">Home!</a>
                    </small>
                </div>
                </p>



            </div>

        </div>
    </div>
</section>





{% endblock content %}