{% extends "base.html" %}
{% block content %}
<style>
  section {
    padding: 15vh 0;
  }
</style>

<section>
  <div class="container-lg">
    <div class="text-center">
      <h2>Inizia Subito!</h2>
    </div>

    <div class="row my-4 g-0 align-items-center justify-content-center">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Crea una lobby!</h4>

            <p class="card-text mx-5 text-muted d-none d-lg-block">
              {% if user.is_authenticated %}
              Inizia subito l'avventura creando una partita! Potrai scegliere tra diverse mappe e difficoltà!
              {% else %}
              Inizia subito l'avventura creando una partita! Potrai scegliere tra diverse difficoltà!

              {% endif %}


            </p>

            <div class="border-top pt-4">
              <a href="{% url 'RiskGame:creazione' %}" class="btn btn-outline-primary btn-lg mt-3">
                Crea!
              </a>
            </div>
          </div>
        </div>
      </div>



      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Joina una lobby!</h4>

            <p class="card-text mx-5 text-muted d-none d-lg-block">
              Cerca tra le varie lobby già create da altri utenti per vedere se ne trovi una che ti piace già!
            </p>
            <div class="border-top pt-4">
              <a href="{% url 'RiskGame:partecipa' %}" class="btn btn-outline-primary btn-lg mt-3">
                Partecipa!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  </div>
  </div>
</section>

{% endblock content %}



<!--
    <div class="text-center">

      <div class="row my_5 align-items-center justify-content-center">
        <div class="col-8 col-lg-4 col-xl-3">
          <div class="card border-0">
            <div class="card">

              <div class="card-body text-center py-4">
                <h4 class="card-title">
                  Crea Partita!

                </h4>
                <p class="card-text mx-3 text-muted d-none d-lg-block">
                  ma che bel bambino ma con dirondirondello
                </p>

                <div class="border-top pt-4">
                  <a href="" class="btn btn-outline-primary btn-lg">Crea!</a>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      
    </div>
-->