{% extends "base.html" %}
{% block content %}
{% load static %}


<style>
  section {
    padding: 10vh 0;
  }
</style>
<section>


  <section class="u-clearfix u-custom-color-1 u-block-702b-1" custom-posts-hash="[]" data-style="blank"
    data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-341e"
    data-source="Blank" data-id="702b">

    <div class="u-clearfix u-sheet u-block-702b-2">
      <div class="container">
        {% for partita in partita_package %}
        {% with partita.Giocatori.count|add:partita.Ospiti.count as totGiocatori %}
        <div class="tile-partita">
          <center>
            <font size="5" color="blue">Partita {{ partita.IDPartita }}</font><br>
            {% with 'mappe/'|add:partita.Mappa.PercorsoMappa as percorso %}
            <img src="{% static percorso %}" width="200" height="130">
            <hr>
            {% endwith %}
            <b>Numero giocatori:</b> {{ totGiocatori }}/{{ partita.NumeroGiocatori }}<br>
            <b>Difficoltà:</b>
            {% if partita.Difficolta == 1 %}
            Semplice
            {% elif partita.Difficolta == 2 %}
            Media
            {% else %}
            Difficile
            {% endif %}
            <hr>
            <div class="div-giocatori">
              <b>Giocatori:</b>
              {% for giocatore in partita.Giocatori.all %}
              <br>{{ giocatore.username }}
              {% endfor %}
              {% for ospite in partita.Ospiti.all %}
              <br>{{ ospite.Nickname }}
              {% endfor %}
            </div>
            <hr>
            {% if totGiocatori < partita.NumeroGiocatori %} <a
              href="{% url 'RiskGame:partecipaPartita' partita.IDPartita %}"
              class="u-border-none u-btn u-button-style u-custom-color-4 u-hover-palette-2-dark-2 u-btn-1">
              Partecipa</a>
              {% else %}
              <div class="u-btn" disabled>Partecipa</div>
              {% endif %}
          </center>
        </div>
        {% endwith %}
        {% endfor %}
      </div>
    </div>
    <style data-mode="XL" data-visited="true">
      @media (min-width: 1200px) {

        img {
          border: 1px solid white;
        }

        .container {
          display: flex;
          flex-direction: row;
          flex: 1 1 auto;
          overflow: auto;
          padding: 10px 0 40px 0px;
        }

        .tile-partita {
          display: flex;
          flex-direction: column;
          margin-right: 10px;
          min-width: 250px;
          max-width: 250px;
          border: 1px solid #e5e5e5;
          border-radius: 7px;
          background-color: rgba(255, 255, 255, 0.5);
          align: center;
        }

        .div-giocatori {
          line-height: 1.2;
          min-height: 8.4em;
        }

        .u-block-702b-2 {
          min-height: 500px;
        }

        .u-block-702b-3 {
          letter-spacing: 1px;
          border-style: none;
          font-weight: 700;
          text-transform: uppercase;
          background-image: none;
          align-self: center;
          margin-top: 78px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-702b-4 {
          letter-spacing: 1px;
          border-style: none;
          font-weight: 700;
          text-transform: uppercase;
          background-image: none;
          align-self: center;
          margin-top: 64px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 0;
        }

        .u-block-702b-5 {
          letter-spacing: 1px;
          border-style: none;
          font-weight: 700;
          text-transform: uppercase;
          background-image: none;
          align-self: center;
          margin-top: 78px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 60px;
        }
      }
    </style>
  </section>
</section>

{% endblock content %}