    <!DOCTYPE html>
    {% load static %}
    <head>
        <title>RiskGame - Partita {{ PartitaID }}</title>
        <link rel="stylesheet" href="{% static 'Sfondo.css' %}" media="screen">
        <style>
            div.appearance {
                position: relative;
            }
        </style>
    </head>
    <body class='body'>
        <h1 id='titolo'>Sala d'attesa (Giocatori: <span id="numGiocAtt">{{ Partita.Giocatori.count|add:Partita.Ospiti.count }}</span>/{{ Partita.NumeroGiocatori }})</h1>
        <div id='appearance' class='appearance'>
            <div id='mappa'></div>
            <div id="tabella-giocatori"></div>
            <textarea id="chat-log" cols="100" rows="20"></textarea><br>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Invia">
            <input id="abbandona" type="button" value="Esci">
            {{ room_name|json_script:"room-name" }}
        </div>
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            const numGiocAtt = document.querySelector('#numGiocAtt');

            var sender = "";

            const partitaSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/partita'
                + '{{ PartitaID }}'
                + '/'
            );

            partitaSocket.onopen = function() {
                if ('{{ user.is_authenticated }}' == 'True'){
                    sender = '{{ user.get_username }}';
                }
                else {
                    sender = '{{ Ospite }}';
                }
                partitaSocket.send(JSON.stringify({
                    'tipo': 'nuovoGiocatore',
                    'sender': sender
                }));
            };

            partitaSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.tipo == 'messaggio')
                    document.querySelector('#chat-log').value += ('[' + data.sender + ']: '
                        + data.message + '\n');
                else if (data.tipo == 'nuovoGiocatore'){
                    document.querySelector('#chat-log').value += ('[' + data.sender
                        + ' si è unito alla partita.]' + '\n');
                    if (data.sender != sender){
                        numGiocAtt.innerText = parseInt(numGiocAtt.innerText) + 1;
                        if (numGiocAtt.innerText == '{{ Partita.NumeroGiocatori }}')
                            iniziaPartita();
                    }
                }
                else if (data.tipo == 'abbandona'){
                    document.querySelector('#chat-log').value += ('[' + data.sender
                        + ' ha abbandonato la partita.]' + '\n');
                        numGiocAtt.innerText = parseInt(numGiocAtt.innerText) - 1;
                }
                else if (data.tipo == 'rappresentazionePartita'){
                    var listaGiocatori = JSON.parse(data.listaGiocatori);

                    document.getElementById('titolo').remove();
                    document.getElementById('chat-message-submit').remove();
                    document.getElementById('chat-message-input').remove();
                    document.getElementById('chat-log').remove();

                    // Qui viene fatta apparire la mappa e il giuoco
                    var tabellaGiocatori = document.getElementById('tabella-giocatori');

                    listaGiocatori.forEach(giocatore => {
                        var infoGiocatore = document.createElement('div');

                        var nomeGiocatore = document.createElement('span');
                        nomeGiocatore.setAttribute('id', 'span_nome_' + giocatore.nickname);
                        nomeGiocatore.innerText = giocatore.nickname;
                        infoGiocatore.appendChild(nomeGiocatore);

                        infoGiocatore.appendChild(document.createElement('br'));
                        
                        var numTruppe = document.createElement('span');
                        numTruppe.setAttribute('id', 'span_num_truppe_' + giocatore.nickname);
                        numTruppe.innerText = 'Truppe totali: ' + giocatore.numTruppe;
                        infoGiocatore.appendChild(numTruppe);

                        tabellaGiocatori.appendChild(infoGiocatore);
                    })
                }
                else if (data.tipo == 'scontro'){

                }
                else if (data.tipo == 'assegnaTruppe'){

                }
            };

            partitaSocket.onclose = function(e) {
                console.error('Socket della partita chiusa improvvisamente.');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                partitaSocket.send(JSON.stringify({
                    'tipo': 'messaggio',
                    'message': message,
                    'sender': sender
                }));
                messageInputDom.value = '';
            };

            document.querySelector('#abbandona').onclick = function(e) {
                if ('{{ user.is_authenticated }}' == 'True'){ 
                    tipo = 'abbandonaUtente';
                }
                else {
                    tipo = 'abbandonaOspite';
                }
                partitaSocket.send(JSON.stringify({
                    'tipo': tipo,
                    'idPartita': '{{ PartitaID }}',
                    'sender': sender
                }));
                location.href="/match-list"
            };

            function iniziaPartita(){
                partitaSocket.send(JSON.stringify({
                    'tipo': 'iniziaPartita',
                    'idPartita': '{{ PartitaID }}',
                    'sender': 'gioco'
                }));
            }

            function finePartita(){
                partitaSocket.send(JSON.stringify({
                    'tipo': 'finePartita',
                    'idPartita': '{{ PartitaID }}',
                    'sender': 'gioco'
                }));
            }

            function conquistaTerritorio(territorio, nuovoProprietario){
                partitaSocket.send(JSON.stringify({
                    'tipo': 'conquistaTerritorio',
                    'idPartita': '{{ PartitaID }}',
                    'sender': 'gioco',
                    'territorio': territorio,
                    'nuovoProprietario': nuovoProprietario
                }));
            }

            function scontro(territorio, attaccante, difensore, truppeAttaccante, truppeDifensore){
                partitaSocket.send(JSON.stringify({
                    'tipo': 'scontro',
                    'idPartita': '{{ PartitaID }}',
                    'sender': 'gioco',
                    'territorio': territorio,
                    'attaccante': attaccante,
                    'difensore': difensore,
                    'truppeAttaccante': truppeAttaccante,
                    'truppeDifensore': truppeDifensore
                }));
            }

            function assegnaTruppe(giocatore){
                partitaSocket.send(JSON.stringify({
                    'tipo': 'assegnaTruppe',
                    'idPartita': '{{ PartitaID }}',
                    'sender': 'gioco',
                    'giocatore': giocatore
                }));
            }
        </script>
    </body>
</html>
