{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<style>
  section {
    padding: 15vh 0;
  }
</style>


<section id="intro">
  <div class="container-lg">
    <div class="row">
      <div class="co-md-5 text-md-start">


        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Registrati!</button>
          </div>
        </form>
        <div class="border-top pt-3">
          <small class="text-muted">
            Hai già un Account?<a class="ml-2" href="{% url 'home' %}">Accedi</a>
          </small>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock content %}