{% extends "base.html" %}
{% block content %}
{% for statistica in statistiche%}
<style>
    section {
        padding: 5vh 0;
    }
</style>

<section>
    <div class="selection">
        <div class="light-text">
            <label>Numero di partite giocate: {{statistica.NumeroPartiteGiocate}}</label>
            <br><br>
            <label>Numero di partite vinte: {{statistica.NumeroPartiteVinte}}</label>
            <br><br>
            <label>Numero di partite perse: {{statistica.NumeroPartitePerse}}</label>
            <br><br>
            <label>Percentuale di vittorie: {{statistica.PercentualeVinte}}</label>
            <br><br>
            <label>Numero di scontri vinti: {{statistica.NumeroScontriVinti}}</label>
            <br><br>
            <label>Numero di scontri persi: {{statistica.NumeroScontriPersi}}</label>
            <br><br>
            <label>Numero di scontri vinti nel ruolo di attaccante: {{statistica.NumeroScontriVintiATK}}</label>
            <br><br>
            <label>Numero di scontri persi nel ruolo di attaccante: {{statistica.NumeroScontriPersiATK}}</label>
            <br><br>
            <label>Numero di scontri vinti nel ruolo di difensore: {{statistica.NumeroScontriVintiDEF}}</label>
            <br><br>
            <label>Numero di scontri persi nel ruolo di difensore: {{statistica.NumeroScontriPersiDEF}}</label>
            <br><br>
            <label>Percentuale di scontri vinti nel ruolo di attaccante:
                {{statistica.PercentualeScontriVintiATK}}</label>
            <br>
        </div>
    </div>
</section>
{% endfor %}
<style data-mode="XL" data-visited="true">
    @media (min-width: 1200px) {
        div.selection {
            letter-spacing: 1px;
            border-style: none;
            font-weight: 700;
            text-transform: uppercase;
            background-image: none;
            text-align: center;
            margin-top: 78px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
        }

        .light-text {
            text-shadow: -1px -1px 10px rgba(255, 255, 255, 1);
        }
    }
</style>

{% endblock content %}