<!DOCTYPE html>
<html style="font-size: 16px;" xml:lang>
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content=""><meta name="description" content=""><meta name="page_type" content="np-template-header-footer-from-plugin">
    <title></title>
    <link rel="stylesheet" href="{% static 'nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'Sfondo.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'nicepage.js' %}" defer=""></script>

<body class="body" data-style="blank" data-posts="" data-global-section-properties="{&quot;colorings&quot;:{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}}" data-source="blank" data-page-sections-style="[]" data-page-coloring-types="{&quot;light&quot;:[&quot;clean&quot;],&quot;colored&quot;:[&quot;clean&quot;],&quot;dark&quot;:[&quot;dark&quot;]}" data-page-category="&quot;Basic&quot;"><form class="u-clearfix u-custom-color-1 u-block-702b-1" custom-posts-hash="[]" data-style="blank" data-section-properties="{&quot;margin&quot;:&quot;none&quot;,&quot;stretch&quot;:true}" id="sec-341e" data-source="Blank" data-id="702b">
  <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-3a71" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="{% url 'RiskGame:impostazione' %}" class="u-border-none u-btn u-button-style u-custom-color-4 u-hover-palette-2-dark-2 u-btn-1">Impostazioni<br>
        </a>
      </div><style class="u-sticky-style" data-style-id="038f">.u-sticky-fixed.u-sticky-038f:before, .u-body.u-sticky-fixed .u-sticky-038f:before {
border: top right !important
}</style></header>
    {% for statistica in statistiche%}
        <div class="selection">
            <div class="light-text">
                <label>Numero di partite giocate: {{statistica.NumeroPartiteGiocate}}</label>
                <br><br>
                <label>Numero di partite vinte: {{statistica.NumeroPartiteVinte}}</label>
                <br><br>
                <label>Numero di partite perse: {{statistica.NumeroPartitePerse}}</label>
                <br><br>
                <label>Percentuale di vittorie: {{statistica.PercentualeVinte}}</label>
                <br><br>
                <label>Numero di scontri vinti: {{statistica.NumeroScontriVinti}}</label>
                <br><br>
                <label>Numero di scontri persi: {{statistica.NumeroScontriPersi}}</label>
                <br><br>
                <label>Numero di scontri vinti nel ruolo di attaccante: {{statistica.NumeroScontriVintiATK}}</label>
                <br><br>
                <label>Numero di scontri persi nel ruolo di attaccante: {{statistica.NumeroScontriPersiATK}}</label>
                <br><br>
                <label>Numero di scontri vinti nel ruolo di difensore: {{statistica.NumeroScontriVintiDEF}}</label>
                <br><br>
                <label>Numero di scontri persi nel ruolo di difensore: {{statistica.NumeroScontriPersiDEF}}</label>
                <br><br>
                <label>Percentuale di scontri vinti nel ruolo di attaccante: {{statistica.PercentualeScontriVintiATK}}</label>
                <br><br>
                <label>Tempo di gioco: {{statistica.TempoDiGioco}}</label>
                <br><br>
                <label>Numero di truppe generate: {{statistica.NumeroTruppeGenerate}}</label>
                <br><br>
                <label>Numero di truppe perse: {{statistica.NumeroTruppePerse}}</label>
                <br>
            </div>
        </div>
    {% endfor %}
<style data-mode="XL" data-visited="true">@media (min-width: 1200px) {
  div.selection {
    letter-spacing: 1px;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    text-align: center;
    margin-top: 78px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  .light-text{
	    text-shadow: -1px -1px 10px rgba(255, 255, 255, 1);
	}
}</style>
</body></html>